* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.3;
}

h1, h2 {
  margin: 1.5rem 0;
}

p {
  margin: 1rem 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 60ch;
  padding: 0 1rem;
}

input {
  font: inherit;
}

button, input[type=submit] {
  background: #eee;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  font: inherit;
  padding: 0.5rem;
  transition: background ease 0.25s;
}

button:hover, input[type=submit]:hover {
  background: #e0e0e0;
}

.button-bar {
  display: flex;
  gap: 0.5rem;
}
